<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smbeaconclient">
    <!-- added -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    canDrawOverlays/
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>


    <application
        android:name=".BeaconReferenceApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SMBeaconClient">
        <activity android:name=".EmergencyActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="EmergencyActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".MapActivity"/>
        <activity android:name=".OurCompanyActivity"/>
        <activity
            android:name=".MainActivity"/>
        <activity android:name=".FirstMainActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


<!--        <service-->
<!--            android:name=".firebase.MyFirebaseMessagingService"-->
<!--            android:exported="false">-->
<!--            <intent-filter>-->
<!--                <action android:name="com.google.firebase.MESSAGING_EVENT" />-->
<!--            </intent-filter>-->
<!--        </service>-->
                <service
                    android:name=".firebase.MyFirebaseMessagingService"
                    android:exported="false">
                <intent-filter>
                        <action android:name="com.google.firebase.MESSAGING_EVENT" />
                    </intent-filter>
                </service>

<!--        브로드캐스트리시버-->
        <receiver android:name=".FcmBroadcastReceiver"
            android:enabled="true"
            android:exported="false"/>
<!--            <intent-filter>-->
<!--                <action android:name="example.test.broadcast"></action>-->
<!--            </intent-filter>-->
<!--        </receiver>-->

    </application>

</manifest>